



.selectedmonth {
    float: left;
    padding: 5px;
    
}

.selecteddays {
    float: left;
    padding: 5px;
}

.selectedyear {
    float: left;
    
    padding: 5px;
}

.findroom {
    
    float: left;
    padding: 5px;
}


.addToTimeSlot{
   display: block;
   margin: auto;
}

.t {
    background: #00f
    
}

.t2 {
    background: #f00
}


.timeTable {
   
}
