



.selectedmonth {
    float: left;
    padding: 5px;
    
}

.selecteddays {
    float: left;
    padding: 5px;
}

.selectedyear {
    float: left;
    
    padding: 5px;
}

.findroom {
    
    float: left;
    padding: 5px;
}


.addToTimeSlot{
   display: block;
   margin: auto;
}
.hide {
    display:none;
}

.t {
    background-color: greenyellow;
    
}

.t2 {
   background-color: red;
}


.timeTable {
   
}
